* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Dancing Script", cursive;
  background-color: #313131;
}
button {
  border: none;
  font-size: 2rem;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
header {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pacifico", cursive;
  background-color: white;
}
main {
  min-height: 90vh;
  position: relative;
}
.carousel {
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  background-color: khaki;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
}
.nav-btn {
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 2.5%;
  top: 50%;
  color: white;
}
.nav-btn i {
  pointer-events: none;
  transform: scale(1.5);
}
#right-arrow {
  left: 97.5%;
}
.card {
  width: 28%;
  height: 80%;
  position: absolute;
  background-color: violet;
  top: 10%;
  border-radius: 1rem;
  text-align: center;
  transform: scale(0.8);
}
.first {
  left: 4%;
}
.second {
  left: 36%;
}
.third {
  left: 68%;
}
.prev-deck {
  left: -50%;
}
.next-deck {
  left: 105%;
}
.focus {
  transform: scale(1.2);
}
