* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --background: linear-gradient(to bottom, #272727, #0f0f0f);
  --header-background: #191919;
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: #76b900;
}
button {
  border: none;
  font-size: 2rem;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
p {
  font-weight: 300;
}
header {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "MuseoModerno", cursive;
  background-color: var(--header-background);
  box-shadow: 0 1px 5px #76b900;
}
main {
  min-height: 90vh;
  position: relative;
}
.carousel {
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  position: absolute;
  top: 45%;
  left: 50%;
  overflow: hidden;
}
.nav-btn {
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 2.5%;
  top: 45%;
  color: #76b900;
  transition: all 0.3s ease-in-out;
}
.nav-btn i {
  pointer-events: none;
  transform: scale(1.5);
}
.nav-btn:hover {
  color: #95eb00;
  box-shadow: 0 0 10px #95eb00, inset 0 0 10px #95eb00;
}
#right-arrow {
  left: 97.5%;
}
.card {
  width: 28%;
  height: 80%;
  position: absolute;
  background-color: var(--header-background);
  top: 10%;
  border-radius: 1rem;
  text-align: center;
  transform: scale(0.8);
  transition: all 0.6s ease-in-out;
  overflow: hidden;
}
.card::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.8s ease-in-out;
}
.card-head {
  width: 100%;
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 25% 25%;
}
.card-body {
  width: 100%;
  height: 30%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.first {
  left: 4%;
  opacity: 1;
}
.second {
  left: 36%;
  opacity: 1;
}
.third {
  left: 68%;
  opacity: 1;
}
.prev-deck {
  left: -30%;
  opacity: 0;
}
.next-deck {
  left: 105%;
  opacity: 0;
}
.focus {
  transform: scale(1.2);
}
.focus.card::before {
  background: transparent;
}
.nav-dots-container {
  min-height: 5%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 95%;
  left: 50%;
  display: flex;
}
.nav-dot {
  flex: 1;
  width: 1.7vh;
  height: 1.7vh;
  border-radius: 50%;
  background-color: #76b900;
  margin: 0 2.5vh;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.nav-dot-focus {
  transform: scale(1.8);
  background-color: #95eb00;
  box-shadow: 0 0 10px #95eb00;
}
